
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<!--<![endif]-->
<head>
    <title>Radio player - Enjoy with your favourite songs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="style.css" id="dark" media="screen" />
    <link rel="stylesheet" type="text/css" href="js/rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="styles/icons/icons.css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="images/logo.jpg" />
    
</head>
<body id="fluidGridSystem">
<div id="layout" class="full">

    <header id="header" class="glue">
        <div class="row clearfix">
            <div class="little-head">
                <div class="social social-head">
                    <a href="#" class="bottomtip" title="Follow us on Twitter" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="#" class="bottomtip" title="Like us on Facebook" target="_blank"><i class="icon-facebook"></i></a>
                    <a href="#" class="bottomtip" title="GooglePlus" target="_blank"><i class="icon-google-plus"></i></a>
                    <a href="#" class="bottomtip" title="instagram" target="_blank"><i class="icon-instagram"></i></a>
                    <a href="#" class="bottomtip" title="Dribbble" target="_blank"><i class="icon-dribbble"></i></a>
                    <a href="#" class="bottomtip" title="Soundcloud" target="_blank"><i class="icon-cloud"></i></a>
                    <a href="#" class="bottomtip" target="_blank" title="Reverbnation"><i class="icon-star"></i></a>
                    <a href="#" class="bottomtip" target="_blank" title="YouTube"><i class="icon-youtube-play"></i></a>
                    <a href="#" class="bottomtip" target="_blank" title="Flickr"><i class="icon-flickr"></i></a>
                    <a href="#" class="bottomtip" title="Linkedin" target="_blank"><i class="icon-linkedin"></i></a>
                </div><!-- end social -->
            </div><!-- little head -->
        </div><!-- row -->

        <div class="headdown">
            <div class="row clearfix">
                <div class="logo bottomtip" title="Best and Most Popular Musics">
                    <img src="images/logo.jpg" alt="Best and Most Popular Musics">
                </div><!-- end logo -->
            </div><!-- row -->
        </div><!-- headdown -->
    </header><!-- end header -->

    <!-- Start Revolution Slider -->
    <div class="sliderr">
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>
                    <!-- SLIDE  -->
                    <li>
                        <!-- MAIN IMAGE -->
                        <img class="animation" src="images/slides/slider1.gif"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <div class="tp-caption fade"
                             data-x="566"
                             data-y="306"
                             data-hoffset="0"
                             data-speed="700"
                             data-start="800"
                             data-easing="Back.easeInOut"
                             data-endspeed="300"
                             style="z-index: 11"><img src="images/slides/slide1-cap1.png" alt=""></div>
                    </li>
                </ul><!-- End Slides -->
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </div>
    <!-- End Revolution Slider -->

    <div class="page-content">
        <div class="row clearfix mbf">
            <div class="music-player-list"></div>
        </div><!-- row music player -->
    </div><!-- end page content -->

    <footer id="footer">
        <div class="footer-last">
            <div class="row clearfix">
                <span class="copyright">© 2017 by <a href="https://www.rajendraarora.com/">Rajendra Arora</a>. All Rights Reserved.</span>
                <div id="toTop"><i class="icon-angle-up"></i></div><!-- Back to top -->
            </div><!-- row -->
        </div><!-- end last -->

    </footer><!-- end footer -->

</div><!-- end layout -->
<!-- Scripts -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="js/jquery.jplayer.js"></script>
<script type="text/javascript" src="js/ttw-music-player-min.js"></script>
<script type="text/javascript" src="music/myplaylist.js"></script>
<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>